.webix_toolbar {
  background-color: #657584;
}
.webix_toolbar .webix_el_label .webix_el_box {
  background-color: #657584;
}

.textToolbar {
  color: white;
}
.webix_list.class_list {
  background-color: #eee;
}
.webix_list_item.class_list {
  background-color: #eee;
}
.webix_list_item.webix_selected {
  background-color: #1995ad;
}
.r3_text {
  text-align: center;
}
.connected {
  color: green;
}
.webix_el_label .webix_el_box {
  background-color: #eee;
}
.webix_icon {
  color: green;
}
