.webix_toolbar {
  background-color: #657584;
}
.webix_toolbar .webix_el_label .webix_el_box {
  background-color: #657584;
}

.textToolbar {
  color: white;
}
.webix_list.class_list {
  background-color: #eee;
}
.class_list  .webix_list_item.webix_selected,
.class_list  .webix_list_item.webix_selected:focus{
  background-color: #1995ad;
}
.r3_text {
  text-align: center;
}
.connected {
  color: green;
}
.webix_el_label .webix_el_box {
  background-color: #eee;
}
.wxi-check  {
  color: green;
}

.wxi-close {
float: right;
margin-top:6px;
}

.data_hover {
  background-color: pink;
}
.highlight {
  background-color: rgb(255, 255, 136);
}

.table_style {
  background-color: #f4f5f9;
}